---
layout: default
title: "CV"
---

<article>
  <header>
    <h1>Personal Details</h1>
</header>
  <table style="overflow-y: hidden; width: 50%">
    <tbody>
      <tr>
          <td>Name</td>
          <td>{{ site.data.cv.Personal.Name }}</td>
      </tr>
      <tr>
        <td>Preferred Name</td>
        <td>{{ site.data.cv.Personal.Preferred_Name }}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ site.data.cv.Personal.Phone }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ site.data.cv.Personal.Email }}</td>
      </tr>
    </tbody>
  </table>

<hr />

  <header>
      <h1>Career Profile</h1>
  </header>
  <p>
    {{ site.data.cv.Profile }}
  </p>

  <hr />

  <header>
    <h1>Experience</h1>
  </header>

<p>
  {% for job in site.data.cv.Experience %}
    {{ job.Company}} <br />
    {{ job.Location }} <br />
    
    <br>
    {% for pos in job.Position %}
      {{ pos.name }} -  {{ pos.tenure }} <br>
    {% endfor %}
    <br>
    
    <h6>Key_Accomplishments</h6>
    <ul>
      {% for ka in job.Key_Accomplishments %}
        <li>{{ ka.item }}</li>
      {% endfor %}
    </ul>
    <br>

    <h6>Key_Accountabilities</h6>
    <ul>
    {% for ka1 in job.Key_Accountabilities %}
      <li>{{ ka1.item }} </li>
    {% endfor %}
    </ul>
  </p>
  <p>  
  {% endfor %}
</p>
        
  
</article>
